body {
    background: #0a3046;
}

button {
    outline:none;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    font-weight:bold;
    margin-top:10px;
    padding-inline: 20px;
    border-radius: 5px;
    font-size:20px;
}

.container {
    min-width: 320px;
    max-width: 400px;
}

input[type=text],
input[type=text]:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    min-width: 320px;
    max-width: 400px;
}

.todos li {
    background: #068488;
}

.delete {
    cursor: pointer;
}

.error {
    color: #fff;
    display: none;
}

.empty {
    color: #068488;
    background: #fff;
    font-size: 2em;
    padding: 20px;
}

.hide {
    display: none !important;
}